@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .book-shadow {
    @apply shadow-2xl;
  }
  .btn-primary {
    @apply px-6 py-3 rounded-lg font-bold transition-all hover:scale-105;
  }
}